extends layout
block css
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/jquery.nouislider/8.5.0/nouislider.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/video.js/5.10.7/video-js.min.css")
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jQRangeSlider/5.7.2/css/iThing.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jQRangeSlider/5.7.2/css/classic.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.2.0/introjs.min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.1.1/css/bootstrap-slider.min.css")
    
block content
    .text-center.center-block
        a.btn.btn-success.js-ayuda(href="#") Ayuda
        input(type="hidden", value="#{subtitulo}")#hdnSubtitulo
    .col-xs-12.col-md-6
        h3 Video seleccionado
        .text-center.center-block
            video.js-video-principal(id="#{video._id}", poster="/images/#{video.screenshot}", class="video-js", style="width: 100%" controls preload="auto")
                source(src="/videos/#{video.nombre}", type='video/mp4')
                source(src="/videos/#{video.nombre}", type='video/webm')
                p.vjs-no-js To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        div(style="padding: 2em;")
            p.text-center
                span#tiempoActual.label.label-default 0:00:00.000
            p.text-center
                div(class="btn-group" role="group" , style="margin: 1em;")
                    button.btn.btn-info.btn-xs.js-copiar-desde Establecer en subtítulo desde
                    button.btn.btn-success.btn-xs.js-copiar-hasta Establecer en subtítulo hasta
                div(class="btn-group" role="group", style="margin: 1em;")
                    button.btn.btn-info.btn-xs.js-fragmento-desde Establecer en fragmento desde
                    button.btn.btn-success.btn-xs.js-fragmento-hasta Establecer en fragmento hasta

        .col-xs-12
            h3(data-intro='Si quiere seleccionar solo un fragmento de video, arrastre los tiempos de inicio y fin', data-step="1") Seleccionar un fragmento del video
            #rangeSlider(data-desde="0", data-hasta="#{duracion}")
            input(type="hidden")#hdnDuracion

            button.btn.btn-primary.js-crear-clip.btn-block(type="button", style="margin: 1em;", data-intro='Puede crear un nuevo video con el segmento seleccionado, esto se recomienda cuando queremos añadir súbtitulos', data-step="2") <i class="fa fa-scissors" aria-hidden="true"></i> Crear nuevo video con el fragmento seleccionado
            div#range(style="margin: 1em;")
                div.hidden
                    span#desde(style="float: left; margin-top: 2em;") 0
                    span#hasta.pull-right(style="margin-top: 2em;") #{duracion}
            .col-xs-12.col-sm-6
                .panel
                    .panel-header
                        h3 Parámetros de calidad
                    .panel-body
                        .form-group
                            label Colores (máximo 255)
                            input#cal-colores(type="text", name="cal_colores", class="slider js-cal-colores", data-provide="slider", data-slider-min="1", data-slider-max="255", data-slider-step="1", data-slider-value="80" )
                            
                        .form-group
                            label Compresión (0 = no comprime, 200 = máximo)
                            input#cal-compresion(type="text", name="cal_compresion", class="slider js-cal-compresion", data-provide="slider", data-slider-min="0", data-slider-max="200", data-slider-step="1", data-slider-value="40" )
                        .form-group
                            label Frames por segundo 
                            input#cal-fps(type="text", name="cal_compresion", class="slider js-cal-fps", data-provide="slider", data-slider-min="1", data-slider-max="30", data-slider-step="1", data-slider-value="10" )
                        .form-group
                            label Ancho 
                            input#cal-width(type="text", name="cal_ancho", class="slider js-cal-width", data-provide="slider", data-slider-min="10", data-slider-max="320", data-slider-step="1", data-slider-value="320" )
            .col-xs-12.col-sm-6
                .form-group
                    label Marca de agua
                    form#uploader.dropzone(action="/uploadwm", enctype="multipart/form-data", method="POST")
                      .fallback
                          input(name="file", type="file", multiple)
                    small.text-center La marca de agua se aplicará a la creación del clip, no al gif. Puede crear primero un video con marca de agua y luego un gif a partir del mismo.
                .form-group
                    label Ubicación
                    select.form-control#cboUbicacion
                        option(value="2") Noreste
                        option(value="1") Noroeste
                        option(value="0") Centrado
                        option(value="4") Sudoeste
                        option(value="3") Sudeste

                    input(type="hidden")#hdnWatermark

        .text-center.center-block()
            button.btn.btn-primary.js-generar(type="button", style="margin: 2em;", data-intro='Cuando tengamos todo listo hacemos click aquí y daremos comienzo a la creación del gif animado', data-step="5") Generar imagen
    .col-xs-12.col-md-6#zonaSubtitulos

            #contenedorPreview(data-intro='Aqui mostraremos solo el fragmento seleccionado', data-step="3")
            div(data-step="4", data-intro='Aqui crearemos los súbtitulos, se pueden agregar varias líneas y modificar los colores, si no tiene seleccionado todo el vídeo, le recomendamos crear un clip nuevo con los tiempos seleccionados, y luego hacer los súbtitulos desde ese nuevo video. Tenga en cuenta que los subtítulos son relativos al tiempo del fragmento seleccionado, por lo cual, si nuestro fragmento comienza en el segundo 2 del video, el mismo corresponde al segundo 0 del fragmento')
                +formSubtitulos
            #contenedorSubtitulos
            input(type="hidden")#hdnSubtitulosSrt
            ul.list-unstyled#listaSubtitulos


block js
    
    script(src="https://cdn.jsdelivr.net/jquery.nouislider/8.5.0/nouislider.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/video.js/5.10.7/video.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.min.js")
    script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js")
    script(src="/javascripts/jQAllRangeSliders-min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.2.0/intro.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.1.1/bootstrap-slider.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js")
    script(src="/javascripts/desdevideo.js")

    +tplTextoSubtitulos
    +tplTablaSubtitulos
    +tplSubtitulosSrt
    script(type="x-handlebars")#tplVideoPreview.
        <h3>Previsualización del segmento seleccionado</h3>
        <div class="col-xs-12">
            <video id="preview" preload="auto" poster="{{poster}}" data-setup="{}" controls class="img-responsive">
                <source src="{{ src }}" type='video/mp4'>
                <source src="{{ src }}" type='video/webm'>
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a web browser that
                  <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <p class="text-center">
                    <span class="label label-default" id="tiempoPreview">0:00:00.000</span>
                </p>
            </div>
            <div class="row">
                <p class="text-center">
                    <div class="btn-group ">
                        <button class="btn btn-info btn-xs js-copiar-preview-desde">Establecer en subtitulo desde</button>
                        <button class="btn btn-success btn-xs js-copiar-preview-hasta">Establecer en subtitulo hasta</button>
                    </div>
                </p>
            </div>
        </div>
        <p class="text-center">
            <div role="group" class="btn-group text-center">
                <button class="btn btn-primary btn-xs js-reproducir-preview">Reproducir</button>
                <button class="btn btn-danger btn-xs js-pausar-preview">Pausar</button>
            </div>
        </p>