extends layout

block css
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/unitegallery/1.7.28/css/unite-gallery.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/unitegallery/1.7.28/themes/default/ug-theme-default.css")
block content
    div#galeria
        each imagen in imagenes
            a(href="/imagenes/#{imagen._id}")
                img.animado(alt="<a href='/i/detalles/#{imagen._id}' class='btn btn-primary'>Ver más datos</a><a href='/v/desde/#{imagen.idVideo}?imagen=#{imagen._id}' class='btn btn-primary'>Crear uno similar</a>", src="/images/#{imagen.screenshot}", data-image="/gifs/#{imagen.nombre}", data-description="<a href='/gifs/#{imagen._id}'>Link</a> ", style="display:none")

        else
            h1.jumbotron.text-center.center-block No hay imágenes para mostrar

    .text-center.center-block
        +paginador(pagina, totalPaginas, totalRegistros, slug)
block js
    script(src="https://cdnjs.cloudflare.com/ajax/libs/unitegallery/1.7.28/js/unitegallery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/unitegallery/1.7.28/themes/tiles/ug-theme-tiles.min.js")
    script(src="/javascripts/imagenes.js")