extends layout

block css
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/unitegallery/1.7.28/css/unite-gallery.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/unitegallery/1.7.28/themes/default/ug-theme-default.css")
block content
    div#galeria
        each imagen in imagenes
            a(href="/imagenes/#{imagen._id}")
                img(alt="<a href='/imagenes/detalles/#{imagen._id}'>Ver más datos</a>", src="/gifs/#{imagen.nombre}", data-image="/gifs/#{imagen.nombre}", data-description="<a href='/gifs/#{imagen._id}'>Link</a> ", style="display:none")
    .text-center.center-block
        +paginador(pagina, totalPaginas, totalRegistros, 'imagenes')
block js
    script(src="https://cdnjs.cloudflare.com/ajax/libs/unitegallery/1.7.28/js/unitegallery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/unitegallery/1.7.28/themes/tiles/ug-theme-tiles.min.js")
    script(src="/javascripts/imagenes.js")