extends layout
block css
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/video.js/5.10.7/video-js.min.css")
block content

    table.table.table-stripped
        each video in videos
            tr
                td #{ video.nombre }
                td.col-xs-6.col-lg-3
                    video.img-responsive(id="#{video._id}", poster="/images/#{video.screenshot}", class="video-js", controls )
                        source(src="/videos/#{video.nombre}", type='video/mp4')

                td
                    a.btn.btn-link(href="/v/desde/#{video._id}") Crear gif desde este video
                    a.btn.btn-link(href="/v/collage/#{video._id}") Crear collage desde este video
    .text-center.center-block
        +paginador(pagina, totalPaginas, totalRegistros, 'v')
block js
    script(src="https://cdnjs.cloudflare.com/ajax/libs/video.js/5.10.7/video.min.js")